h1 {
    font-size: 60px;
    font-style: unset;
    color: white;
    background-color: black;
}
body {
    background-color: black;
}
button {
    color: rgb(5, 2, 2);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline;
    margin-left: 60px;
    right: 50%;
  }
  
